:root {
    --background: #2C323F;
    --foreground: #ffffff; /* White text for dark background */
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #ffffff;
        --foreground: #2C323F; /* Dark text for light background */
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
